    
    <div class="jumbotron text-center">
       <img class="img-fluid" src="images/logo.svg" alt="Responsive Image">
        <p class="lead">Meet the Developers</p>
    </div>
     <div id="developersList" class="row">
            <div class="col-md-6">
               <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Katherine - She/They</h5>
                        <p class="card-text">Hi, I'm Katherine, a former attorney and current artist turned web developer. I enjoy building applications and problem solving using different programming languages. I'm really enjoying working with databases and I love adding tools to my toolbox.</p>
                        <a href="https://github.com/katherinearenas" class="btn btn-primary">Katherine's Github</a>
                    </div>
               </div> 
            </div>
             <div class="col-md-6">
               <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Patrick</h5>
                        <p class="card-text">"Greetings, a former logistics representive, musician and web developer. I am a results-driven Software Developer with a background in Philosophy, a passion for driving operational excellence, and a comprehensive foundation in computer science."</p>
                        <a href="https://github.com/RickHennessey87" class="btn btn-primary">Patrick's Github</a>
                    </div>
               </div> 
            </div>
             <div class="col-md-6"></div>
               <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Chad</h5>
                        <p class="card-text">Passionate web developer skilled in creating intuitive, high-performing websites. Ready to turn your ideas into digital reality!</p>
                        <a href="https://github.com/Wrandy1" class="btn btn-primary">Chad's Github</a>
                    </div>
               </div> 
            </div>
             <div class="col-md-6"></div>
               <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Max</h5>
                        <p class="card-text"> Hey, I'm Max LC, I'm an artist (and sometimes social worker/EMT) who loves exploring new mediums. I have a love for interactive projects and have been learning multiple programming languages to find new ways to engage with my community.</p>
                        <a href="https://github.com/MaxLC00" class="btn btn-primary">Max's Github</a>
                    </div>
               </div> 
            </div>
    </div>
