
    
    <div class="jumbotron text-center">
       <img class="img-fluid" src="images/logo.svg" alt="Responsive Image">
        <p class="lead">Join our community, share and discover books with fellow readers, and create and join Book Clubs.</p>
        <hr class="my-4">
        <p>Join a club and become a member of out community today.</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Featured Clubs</h2>
            <p>Discover and join clubs that match your interests, or create your own. Meet new people and discuss your favorite books!</p>
            <a class="btn btn-outline-primary" href="/api/clubs" role="button">View Clubs</a>
        </div>
        <div class="col-lg-6">
            <h2>Join Us</h2>
            <p>Become a member of our growing and dedicated community</p>
            <a class="btn btn-outline-primary" href="/signup" role="button">Sign Up Now</a>
        </div>
    </div>